SECRET_KEY=pon-aqui-una-clave-segura
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=joel_piel
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_SSL=true
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-contrasena-de-app
MAIL_DEFAULT_SENDER=tu-correo@gmail.com
